/* custom functions */
:root {
  --white: hsl(0, 0%, 100%);
  --stone-100: hsl(30, 54%, 90%);
  --stone-150: hsl(30, 18%, 87%);
  --stone-600: hsl(30, 10%, 34%);
  --stone-900: hsl(24, 5%, 18%);
  --brown-800: hsl(14, 45%, 36%);
  --rose-800: hsl(332, 51%, 32%);
  --rose-50: hsl(330, 100%, 98%);
  --font-young-serif: 'Young Serif', serif;
  --font-outfit: 'Outfit', sans-serif;
}

/* resets */
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

img{
  display: block;
}

body{
  background-color: var(--stone-150);
}

/* wrapper */
.wrapper{
  width: 100vw;
  min-height: 100vh;

  background-color:var(--stone-100);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* container */
.container{
  max-width:580px;
  height: auto;
  margin: 4rem;

  background-color: white;

  padding: 2rem;

  border-radius: 1rem;
  
}
.container >img{
  width: 100%;
  border-radius:0.5rem;

  margin-bottom: 1.5rem;
}

/* intro container */
.intro{
  margin-bottom: 1rem;
}
.intro >h1{
  font-family: var(--font-young-serif);
  font-weight: 500;
  color: var(--stone-900);

  line-height: 1.4rem;

  margin-bottom: 1rem;
}
.intro >p{
  font-family: var(--font-outfit);
  color: var(--stone-600);

  font-size: 0.8rem;
  width:60ch;
}

/* preparation-time container */
.preparation-time{
  background-color: var(--rose-50);
  font-family: var(--font-outfit);

  padding: 1.5rem;

  border-radius: 0.5rem;
}
.preparation-time >h2{
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--rose-800);

  margin-bottom: 0.5rem;
}
.preparation-time > ul{
  padding-left: 1.2rem;
}
.preparation-time >ul >li{
  color: var(--stone-600);
  padding-left: 1rem;
  margin-top: 0.4rem;
}
.preparation-time>ul>li::marker{
  color: var(--rose-800);
}



/* Responsive Design */
@media (max-width: 375px) {
  body {
    padding: 10px;
  }
}
